arrow-up {
  color: black;
}

.button {
  padding: 20px;
  background-color: #f3b718;
  color: #f7f2f2;
  font-weight: 800;
  font-size: 62px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 800px;
  height: 400px;
  padding-bottom: -30px;
}

.button:hover {
  background-color: #748087;
}

.arrow-up {
  color: #f8d408;
  z-index: 10;
  right: 45%;
  top: -17%;
  margin-left: 40%;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

#tv {
  padding-top: 2%;
  padding-left: 35%;
}
