@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  background-color: #FCF8E3;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto', sans-serif;
}

/* Media query for tablets  */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  body {
    background-color: #eef596;
}
}

/* Media query for phones */
@media only screen and (max-width: 578px) {
  body {
    background-color: #dde816;
  }
}